{% extends 'template_base.html' %}

{% block contenido %}
<br><br><br>
<div class="alert alert-danger col-md-8 center-block" role="alert">
  		<p>Debes iniciar sesion para poder publicar mascotas perdidas, adoptadas o encontradas</p>
  		<strong>
  			<a id="linkRegistro" href="" data-toggle="modal" data-target=".bs-example-modal-sm">Para iniciar sesion has click aqui</a>
  		</strong>
  		<br>
  		<strong>
  			<a  href="/" class="btn btn-danger" role="button">Registraté</a>
  		</strong>
	</div>
<br><br><br>
{% endblock %}