{% extends 'template_base.html' %}

{% block contenido %}

<h1>403 Forbiden Para realizar esta acción debe registrarse o iniciar sesión</h1>

<div class="alert alert-danger col-md-6" role="alert">
  		<p>Debes iniciar sesion para poder realizar comentarios</p>
  		<strong>
  			<a href="" data-toggle="modal" data-target=".bs-example-modal-sm">Para iniciar sesion has click aqui</a>
  		</strong>
  		<br>
  		<strong>
  			<a href="/" class="btn btn-danger" role="button">Registraté</a>
  		</strong>
	</div>

{% endblock %}