{% extends 'template_base.html' %}

{%block contenido %}

<div class="container">
	<h2>Publica una mascota adopcion.</h2>
	<p>
		Puedes publicar una mascota en adopcion, es muy facil, completa el formulario e ingresa una descripción de tu mascota para que las personas vean sus caracteristicas <br> y se animen a adoptarlo.
	</p>
	<div class="form-group col-md-4">

		<form id="formulario_adopcion" method="post" enctype="multipart/form-data" action="">
			{% csrf_token %}
			{{formulario.as_p}}
			<input type='submit' value='confirmar' class="btn btn-primary" />
		</form>
	</div>
</div>

<script type="text/javascript">
	$("#formulario_adopcion").submit(function(){
    	sendDatosAdopcion();
	});
</script>
</div>
{% endblock %}
