{% extends 'template_base.html' %}

{% block contenido %}
<div class="container">
	<!--<div class = "breadcrumb">
	{% block breadcrumbs %}
    		{{block.super}} >> <a href="/ayuda">ayuda</a>
	{% endblock %}
	</div>-->

	<div class="row elementos-ayuda">
		<div class="col-lg-10 col-md-10 ">
			<h2>¿Cómo Reportar una moscota perdida?</h2>
			<p>
				Para reportar una mascota que se haya extraviado se debe ingresar a la seccion Mascostas Perdidas donde se encontrara un enlace a la página para reportar mascotas perdidas, alli aparecerá el formulario para el registro de mascotas perdias, diligencia todos los datos y selecciona la opción confirmar para enviar el formulario.
			</p>
		</div>
		<div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
			<img src="{{STATIC_URL}}/img/ayuda/perdida.png" class="imagen-ayuda img-responsive">
		</div>

	</div>
	<hr>
	<div class="row elementos-ayuda">
		<div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
			<img src="{{STATIC_URL}}/img/ayuda/encontrada.png" class="imagen-ayuda img-responsive">
		</div>
		<div class="col-lg-10 col-md-10">

			<h2>¿Cómo Reportar una mascota Encontrada?</h2>
			<p>
				Para reportar una mascota encontrada se debe ingresar a la seccion Mascostas Encontradas donde se encontrara un enlace a la página para reportar mascotas encontradas, alli aparecerá el formulario para el registro de mascotas encontradas, diligencia todos los datos y selecciona la opción confirmar para enviar el formulario.
			</p>
		</div>
	</div>
	<hr>
	<div class="row elementos-ayuda">
		<div class="col-lg-10 col-md-10">
			<h2>¿Cómo Reportar una mascota en Adopción?</h2>
			<p>

				Para reportar una mascota que este en adopcion se debe ingresar a la seccion Mascostas en Adopcion donde se encontrara un enlace a la página para reportar mascotas en adopción, alli aparecerá el formulario para el registro de mascotas en adopcion, diligencia todos los datos y selecciona la opción confirmar para enviar el formulario.
			</p>
		</div>
		<div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
			<img src="{{STATIC_URL}}/img/ayuda/adoptada.png" class="imagen-ayuda img-responsive">
		</div>
	</div>
	<hr>
	<div class="row elementos-ayuda">
		<div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
			<img src="{{STATIC_URL}}/img/ayuda/comentario.png" class="imagen-ayuda img-responsive">
		</div>
		<div class="col-lg-10 col-md-10 ">
			<h2>¿Cómo comentar sobre una mascota?</h2>
			<p>
				Para realizar un comentario de una mascota se debe ingresar a cualquiera de las secciones y seleccionar la mascota a la que se le quiere realizar el comentario, dando click en la foto o en el nombre de la mascota, así apareceran todos los datos de la mascota, y el campo para realizar un comentario, alli se introduce el comentario y se pulsa en boton comentar.
			</p>
		</div>
	</div>
	</div>
</div>

{% endblock %}
