{% extends 'detalleMascota.html' %}
	<div class = "breadcrumb">
		{% block breadcrumbs %}
	    	{{block.super}} >> <a href="/perdidos">Perdidos</a> >> {{mascota.nombre}}
		{% endblock %}
	</div>

	{% block infoMascota %}
					
		<div class="col-md-6">
			<img class="img-thumbnail imagenMascotaDetalle img-responsive" src="{{MEDIA_URL}}{{mascota.foto}}" alt="Detalle Mascota" />
			<figcaption>
			 	<a href="/reportarEncontrado">
					reportar como encontrada
				</a>	
			 </figcaption>	
		</div>
		<div class=" col-md-6">
			<label>Nombre: </label><br> {{mascota.nombre}}<br>
			<label>Especie: </label><br> {{mascota.especie}}<br>
			<label>Raza: </label><br> {{mascota.raza}}<br>
			<label>Sexo: </label><br> {{mascota.sexo}}<br>
			<label>Fecha de desaparicion: </label><br> {{mascota.fechaDesaparicion}}<br>
			<label>Dirección de desaparicion: </label><br> {{mascota.dirDesaparicion}}<br>
			<label>Descripcion:</label><br> {{mascota.descripcion}}<br>
		</div>
	{% endblock%}	

