{% extends 'template_base.html' %}
{% block contenido %}
	{% block secciones %}
	{% endblock secciones %}

<a href="" id="ver_comentarios">Ver comentarios</a>
<div id="comentarios">	
</div>

{% if user.is_authenticated %}
	<div id="addComentario">
	<form id="formulario_comentario">{% csrf_token %}
		<input id="id_texto" name="texto" type="text"></input><div id="msg-com-error"></div>
		<input id="id_mascota" name="mascota" value="{{mascota.id}}" type="hidden">
		<p><input type='submit' value='Comentar' class="btn btn-primary" /></p>
	</form>
	</div>	
{% else %}
	<div class="alert alert-danger col-md-6" role="alert">
  		<p>Debes iniciar sesion para poder ver o realizar comentarios</p>
  		<strong>
  			<a href="#">Para iniciar sesion has click aqui</a>
  		</strong>
  		<br>
  		<strong>
  			<a href="/">Registraté</a>
  		</strong>
	</div>
{% endif %}


<script type="text/javascript">
	$("#formulario_comentario").submit(function(){
        sendComentario();
        return false;
    });
    
	$("#ver_comentarios").click(function () {
    	getComentarios({{mascota.id}})
    	return false;
    });
	
</script>

{% endblock %}