{% extends 'detalleMascota.html' %}
	{% block infoMascota %}
		<div class="col-md-6">
			<img class="img-thumbnail imagenMascotaDetalle img-responsive" src="{{MEDIA_URL}}{{mascota.foto}}" alt="Detalle Mascota" />	
		</div>
		<div class=" col-md-6">
			<label>Nombre: </label> {{mascota.nombre}}<br>
			<label>Especie: </label> {{mascota.especie}}<br>
			<label>Raza: </label> {{mascota.raza}}<br>
			<label>Edad: </label> {{mascota.edad}}<br>
			<label>Sexo: </label> {{mascota.sexo}}<br>
			<label>Fecha de encuentro: </label> {{mascota.fechaEncuentro}}<br>
			<label>Dirección de encuentro: </label> {{mascota.dirEncuentro}}<br>
			<label>Descripcion:</label> {{mascota.descripcion}}<br>
		</div>
	{% endblock%}