{% extends 'template_base.html' %}
{% block contenido %}
		<!--<div class = "breadcrumb">
			{% block breadcrumbs %}
    			{{block.super}}  
			{% endblock %}
		</div>-->

<div class="row">
	<div class="row">

		<div class="col-md-6 detalleMascota">
			{% block infoMascota %}
			{% endblock%}	
		</div>
		<div class="col-md-4 pull-right">
			
			<h3>Comentarios</h3>
			<hr>
			<a href="" id="ver_comentarios">Mostrar comentarios</a>
			<ul id="comentarios">
			</ul>

			{% if user.is_authenticated %}
			<br>
			<div id="addComentario">
				<form id="formulario_comentario">{% csrf_token %}
					 <textarea id="id_texto" name="texto" class="form-control status-box" placeholder="Ayuda a esta mascota">
					 </textarea>
					<div id="msg-com-error" class="errorlist"></div>

					<input id="id_mascota" name="mascota" value="{{mascota.id}}" type="hidden">
					<br>
					<p><input type='submit' value='Publicar' class="btn btn-primary" /></p>

				</form>
			</div>
			{% else %}
			<div class="alert alert-danger col-md-12" role="alert">
	  			<p>Debes iniciar sesion para poder realizar comentarios</p>
	  			<br><br><br>
	  			<strong>
	  				<a id="linkRegistro" href="" data-toggle="modal" data-target=".bs-example-modal-sm">
	  					Para iniciar sesion has click aqui
	  				</a>
	  			</strong>
	  		<br><br><br>
	  		<strong>
	  			<a href="/" class="btn btn-danger" role="button">Registraté</a>
	  		</strong>
			</div>
		{% endif %}
			
		</div>

<script type="text/javascript">
	function evento(){
			getComentarios({{mascota.id}})
		}
	$("#formulario_comentario").submit(function(){
        sendComentario();
        return false;
    });

	$("#ver_comentarios").click(function () {
       	$("#comentarios").empty()
    	$("#ver_comentarios").hide()


		$("#comentarios").append('<div class="circle1"></div>')
		setTimeout('evento()', 1000)

    	return false;
    });

</script>
	</div>

</div>
{% endblock%}
