{% extends 'detalleMascota.html' %}
	<!--<div class = "breadcrumb">
		{% block breadcrumbs %}
	    	{{block.super}} >> <a href="/encontrados">Encontrados</a> >> {{mascota.nombre}}
		{% endblock %}
	</div>-->
	
	{% block infoMascota %}
	{% if user.id == mascota.usuario.id %}
		<button type="button" class="close" data-toggle="tooltip" data-placement="top" title="Eliminar"><span aria-hidden="true" onclick=deleteEncontrada({{mascota.id}})>&times;</span><span class="sr-only">Close</span></button>
	{% else %}
		
	{% endif %}
			
		<div class="col-md-6">
			<img class="img-thumbnail imagenMascotaDetalle img-responsive" src="{{MEDIA_URL}}{{mascota.foto}}" alt="Detalle Mascota" />	
		</div>
		<div class=" col-md-6" style="height:315px; overflow:auto">
			<label>Nombre: </label> {{mascota.nombre}}<br>
			<label>Especie: </label> {{mascota.especie}}<br>
			<label>Raza: </label> {{mascota.raza}}<br>
			<label>Edad: </label> {{mascota.edad}}<br>
			<label>Sexo: </label> {{mascota.sexo}}<br>
			<label>Fecha de encuentro: </label> {{mascota.fechaEncuentro}}<br>
			<label>Dirección de encuentro: </label> {{mascota.dirEncuentro}}<br>
			<label>Descripcion:</label> {{mascota.descripcion}}<br>
		</div>
	{% endblock%}