{% extends 'detalleMascota.html' %}
	{% block infoMascota %}
		
		<div class="col-md-6">
			<img class="img-thumbnail imagenMascotaDetalle img-responsive" src="{{MEDIA_URL}}{{mascota.foto}}" alt="Detalle Mascota" />	
		</div>
		<div class=" col-md-6">
			<label>Nombre: </label><br> {{mascota.nombre}}<br>
			<label>Especie: </label><br> {{mascota.especie}}<br>
			<label>Raza: </label><br> {{mascota.raza}}<br>
			<label>Sexo: </label><br> {{mascota.sexo}}<br>
			<label>Fecha de desaparicion: </label><br> {{mascota.fechaDesaparicion}}<br>
			<label>Dirección de desaparicion: </label><br> {{mascota.dirDesaparicion}}<br>
			<label>Descripcion:</label><br> {{mascota.descripcion}}<br>
		</div>
		<div class=" col-md-6">
			<a href="/reportarEncontrado"  class="btn btn-primary" role="button">
				Reporta la mascota
			</a>
		</div>
	{% endblock%}	

