{% extends 'template_base.html' %}


{% block contenido %}


<div class="container" id="contenido">
	<div class = "breadcrumb">
  {% block breadcrumbs %}
    			{{block.super}} >> <a href="/encontrados">Encontrados</a>
			{% endblock %}
    </div>
	<div class="row">
		<h2>Mascotas Encontradas</h2>
	</div>

	<div class="col-md-2 pull-right publicacion">
		<h4 class="pull-right">¿Encontraste una mascota?</h4>
		<p class="pull-right">
			Reporta la mascota que encontraste para que las personas de nuestra comunidad se enteren tu ayuda es valiosa
		</p>	
		<a href="{% url 'web:reportarEncontrado' %}"  class=" btn btn-primary " role="button" data-toggle="tooltip" data-placement="bottom" title="Publicar Mascota">
			
			<img src="{{STATIC_URL}}/img/mas.png" class="img-responsive">
		</a>
		<p></p>
	</div>


<div class="ball" id="loading"></div>
</div>

<script type="text/javascript">
	$(document).ready(function(){

		setTimeout('getDatosEncontrados()', 500)

	});
</script>
</div>
{% endblock %}
