{% extends 'template_base.html' %}

{% block contenido %}
<div class="container">
	<h1>Publica mascotas encontradas.</h1>
	<p>
		 Puedes publicar una mascota que hayas encontrado, es muy facil, completa el formulario e ingresa una completa descripción de cómo, cuando y donde encontraste <br> la mascota. Nuestra comunidad agradecera tu ayuda.
	</p>
		
	<div class="form-group col-md-4">
		<form id="formulario_encontrado" method="post" enctype="multipart/form-data" action="">
			{% csrf_token %}
			{{formulario.as_p}}
			<input type='submit' value='confirmar' class="btn btn-primary" />
		</form>
	</div>
</div>
	
<script type="text/javascript">
	$("#formulario_encontrado").submit(function(){
    	//sendDatosEncontrado();
	});
</script>
</div>
{% endblock %}
