{% extends 'perdidos.html' %}

{% block contenido %}
<div id="msg-success"></div>
<div class="container">
	<!--<div class = "breadcrumb">
	{% block breadcrumbs %}
    			{{block.super}} >> <a href="/reportarPerdidos">reportarPerdidos</a>
			{% endblock %}
	</div>-->

	<h1>Publica mascotas perdidas.</h1>
	<p>
		Puedes publicar una mascota perdida, es muy facil, completa el formulario e ingresa una completa descripción de cómo, cuando y donde perdiste a tu mascota.<br> Nuestra comunidad intentará ayudar en la búsqueda.
	</p>
	<br><br>

	<div class="form-group col-md-4 col-centered">
		<form id="formulario_perdido" method="POST" enctype="multipart/form-data" action="{% url 'web:reportarPerdido' %}">
			{% csrf_token %}
			{{formulario.as_p}}
			<input type='submit' value='publicar' class="btn btn-primary" />
		</form>
	</div>
	
</div>

<script type="text/javascript">
	$("#formulario_perdido").submit(function(event) {
		//sendDatosPerdidos(event);
	});
</script>
</div>
{% endblock %}
