{% extends 'template_base.html' %}

{% block contenido %}

<div class="container" id="contenido">

      <div class = "breadcrumb">
			{% block breadcrumbs %}
    			{{block.super}} >> <a href="/perdidos">perdidos</a>
			{% endblock %}
    </div>

	<div class="row">
		<h2>Mascotas Perdidas</h2>
	</div>
	<div class="col-md-2 pull-right publicacion">
		<h4 class="pull-right">¿Perdiste a tu mascota?</h4>
		<p class="pull-right">
			Reporta tu mascota dentro de nuestra pagina para que nuestra comunidad te ayude a encontrarla
		</p>	
		<a href="{% url 'web:reportarPerdido' %}"  class=" btn btn-primary " role="button" data-toggle="tooltip" data-placement="bottom" title="Publicar Mascota">
			
			<img src="{{STATIC_URL}}/img/mas.png" class="img-responsive">
		</a>
		<p></p>
	</div>

	<!--<div class="row" id="contenido">
	</div>-->

	<div class="ball" id="loading"></div>
</div>



<script type="text/javascript">
	$(document).ready(function(){
		setTimeout('getDatosPerdidos()', 500)
		;
	});
</script>
</div>
{% endblock %}
