{% extends 'template_base.html' %}

{% block contenido %}

{{msg}}

<div class="container" id="contenido">

	<div class="row">
		<h2>Mascotas Perdidas</h2>
		<a href="{% url 'web:reportarPerdido' %}"  class="pull-right btn btn-primary" role="button">
			Publica una mascota perdida
		</a>	
	</div>

	<!--<div class="row" id="contenido">
	</div>-->	

	<div class="ball" id="loading"></div>
</div>



<script type="text/javascript">
	$(document).ready(function(){
		setTimeout('getDatosPerdidos()', 3000)
		;
	}); 
</script>

{% endblock %}