{% extends 'template_base.html' %}

{% block contenido %}
<div id="msg-success"></div>
<div class="container">
	<h1>Publica mascotas perdidas.</h1>
	<p>
		Puedes publicar una mascota perdida, es muy facil, completa el formulario e ingresa una completa descripción de cómo, cuando y donde perdiste a tu mascota.<br> Nuestra comunidad intentará ayudar en la búsqueda.
	</p>
		
	<div class="form-group col-md-4">
		<form id="formulario_perdido" method="post" enctype="multipart/form-data" action="">
			{% csrf_token %}
			{{formulario.as_p}}
			<input type='submit' value='confirmar' class="btn btn-primary" />
		</form>	
	</div>
</div>
		
<script type="text/javascript">
	$("#formulario_perdido").submit(function() {
		sendDatosPerdidos();
	});
</script>
</div>
{% endblock %}
