{% extends 'inicio.html' %}

{% block contenido %}



{% for dato in perdidos %}
			<!--<p class="{% cycle 'impar' 'par'%}">{{dato.titulo}}</p>-->
			<div id="perdidos">
				<p>nombre : {{dato.nombre}}</p>

				<img src='{{MEDIA_URL}}{{dato.foto}}'/>
				<p>raza : {{dato.raza}}</p>
				<p>edad : {{dato.edad}} años</p>
				<p>descripcion: {{dato.descripcion}}</p>
			</div>
			{% empty %}
			No hay mascotas perdidas registradas aun.
			{% endfor %}






<a href="/reportarPerdido">Reportar Perdido</a>

{% endblock %}