{% extends 'detalle.html' %}
{% block secciones %}
<div class="row">
	<div class="col-md-8 " id="detalleMascota">
		<img class="img-circle imagenMascota" src="{{MEDIA_URL}}{{mascota.foto}}" /><br>
		<label>Nombre: {{mascota.nombre}}</label><br>
		<label>Especie: {{mascota.especie}}</label>	<br>
		<label>Raza: {{mascota.raza}}</label><br>
		<label>Edad: {{mascota.edad}}</label><br>
		<label>Sexo: {{mascota.sexo}}</label><br>
		<label>Descripcion: {{mascota.descipcion}}</label><br>
		<label>Fecha de desaparicion: {{mascota.fechaDesaparicion}}</label><br>
		<label>Dirección de desaparicion: {{mascota.dirDesaparicion}}</label><br>
	</div>

</div>
{% endblock%}