<!DOCTYPE html>
	<head>
		<meta charset='utf-8'>
		<title>PetRescue</title>
		<link rel="stylesheet" href="{{STATIC_URL}}libs/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/estilo.css">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Cherry+Cream+Soda' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lobster|Open+Sans:400,300' rel='stylesheet' type='text/css'>
		<script src="{{STATIC_URL}}libs/jquery/jquery.min.js" ></script>
		<script src="{{STATIC_URL}}libs/jquery/jquery.timeago.js" ></script>
		<script src="{{STATIC_URL}}libs/jquery/jquery.cookie.js" ></script>
		<script src="{{STATIC_URL}}libs/jquery/jquery.validate.min.js" ></script>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	</head>
	<body>

		<section>
			<header class="page-header">
				<div class="container">

					<div class="col-md-6 col-sm-6 col-xs-8">
						<h1 class="logo" ><a href="/"> <span class="fa fa-paw "></span> PetRescue</a></h1>
					</div>
					<div class="pull-right col-md-6 col-sm-6 col-xs-4">
		{% if user.is_authenticated %}
						<div class="pull-right">
							<h4>Hola {{user.nombre}}</h4>
							<a href="#" class="pull-right btn btn-sm btn-primary" id="logout">Cerrar sesión</a>
						</div>

		{% else %}
							<div class="pull-right col-md-6">
								<a class="pull-right btn btn-sm btn-primary btn-inicia-sesion" data-toggle="modal" data-target=".bs-example-modal-sm" href=""><span class="glyphicon glyphicon-user">

								</span> Ingresar</a></li>
							</div>

						{% endif %}
					</div>
				</div>
			</header>
			<div class="container">
			<nav  class="navbar navbar-default navbar-static-top" role="navigation">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					
					  <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
					</button>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul  class="nav navbar-nav">
					<li>
						<a href="/">
						 Inicio
						</a>
					</li>

					<li >
						<a id="cat_perdidos" href="{% url 'web:perdidos' %}">Mascotas Perdidas</a>
					</li>
					<li>
						<a href="/adopciones/">Mascotas en Adopción</a>
					</li>
					<li>
						<a href="/encontrados/">Mascotas Encontradas</a>
					</li>
					{% if user.is_authenticated %}
					<li>
						<a href="/miCuenta/">Mi Cuenta</a>
					</li>
					{% endif %}
					<li>
						<a href="/ayuda/">Ayuda</a>
					</li>
				</ul>
			</div>
			</nav>
			{% load django_bootstrap_breadcrumbs %}
			<div class = "breadcrumb">{% block breadcrumbs %}<a href="/">Home</a>{% endblock %}</div>
			
    			{% for message in messages %}
        			<div{% if message.tags %} class="{{ message.tags }} alert alert-success"{% endif %}>{{ message }}</div>
    			{% endfor %}
			
			{% block contenido %}
				
					<!--{% render_breadcrumbs %}-->
			{% endblock %}
			

			<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">&times;</span>
								<span class="sr-only">Close</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Iniciar Sesion</h4>
						</div>
						<div class="modal-body">
							<div id="login" >
							<form id='formulario_login' method='post' action=''>{% csrf_token %}
								<div class="form-group">
												<div class="form-group">
													<input  type="email" class="form-control" placeholder="Correo Electronico" name="email">
													<br>
													<input  type="password" class="form-control" placeholder="Contraseña" name="password">
												</div>
												<div class="row">
													<div id="msg-login-error" role="alert"></div>
												</div>

									</div>
									<div>
										<strong style="margin-right:118px">
  											<a href="/">Registraté</a>
  										</strong>
										<input type='submit' name="inicioSesion" class="btn btn-primary" value='Ingresar'/>
									</div>
							</form>

								</div>
						</div>
					</div>
				</div>
			</div>

	</div>
	<script type="text/javascript">
		$("#formulario_login").submit(function(){
	    	sendDatosLogin();
	    	return false;
		});

		$("#logout").click(function(){
			logout();
			return false;
		});
	</script>
	</section>
	<script src="{{STATIC_URL}}libs/bootstrap/bootstrap.min.js" ></script>
	<script src="{{STATIC_URL}}js/perdido.js" ></script>
	<script src="{{STATIC_URL}}js/encontrado.js" ></script>
	<script src="{{STATIC_URL}}js/adopcion.js" ></script>
	<script src="{{STATIC_URL}}js/usuario.js" ></script>
	<script src="{{STATIC_URL}}js/comentario.js" ></script>
	<script src="{{STATIC_URL}}js/autenticacion.js" ></script>
	<script src="{{STATIC_URL}}js/main.js" ></script>
	
			<footer class="footer">
				<br>
				<div class="col-lg-2 col-md-2 col-sm-2 col-centered">
					<span class="fa fa-google-plus-square fa-3x">
					<span class="fa fa-facebook-square">
					<span class="fa fa-twitter-square ">
				</div>
			</footer>

	</body>
</html>
