<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset='utf-8'> 
		<title>PetRescue</title>
		<link rel="stylesheet" href="{{STATIC_URL}}libs/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/estilo.css">
		<script src="{{STATIC_URL}}libs/jquery/jquery.min.js" ></script>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	</head>
	<body>
	<div class="container">
		<section>
			<header class="page-header">
				<a href="/"><h1>PetRescue</h1></a> <br>
			</header>
			<nav  class="navbar navbar-default navbar-static-top" role="navigation">
				<ul  class="nav navbar-nav">
					
					
					<li class="elementobarra">
						<a href="/home">
							<span class="glyphicon glyphicon-home"></span>  Inicio</span>
						</a>
					</li>

					<li>
						<a id="cat_perdidos" href="{% url 'web:perdidos' %}">Mascostas Perdidas</a>
					</li>
					<li>
						<a href="/adopciones">Mascostas en Adopción</a>
					</li>
					<li>
						<a href="/encontrados">Mascostas Encontrados</a>
					</li>
				</ul>
			</nav>
			<div id="contenido"></div>

			{% block contenido %}
			{% endblock %}
			
			<footer>
				<div class="row">
				  <div class="col-md-4">
				  	<ul class="secciones">
					  <h2>Ubícanos</h2>
					  <li><span class="glyphicon glyphicon-globe"></span>  Dirección :Calle 43 No 43-33.</li>
					  <li><span class="glyphicon glyphicon-earphone"></span>  PBX: (57) 2 2241816-17</li>
					  <li><span class="glyphicon glyphicon-envelope"></span>  Email: unicreditos@gmail.com</li>
					</ul>

				  </div>
				  <div class="col-md-4">
				  </div>
				  <div class="col-md-4">
					<ul class="secciones">
					  <h2>Desarrollado por</h2>
					  <li>Miguel Angel Bernal 1153852</li>
					  <li>Luis Ovidio Gonzalez 1154010</li>
					  <li>Aslhey Ramirez 1153765</li>
					</ul>			 	
				  </div>
				</div>

			</footer>
		</section>
	</div>

	<script src="{{STATIC_URL}}libs/jquery/jquery.cookie.js" ></script>
	<script src="{{STATIC_URL}}libs/bootstrap/bootstrap.min.js" ></script>
	

	<script src="{{STATIC_URL}}js/slider.js" ></script>
	<script src="{{STATIC_URL}}js/perdido.js" ></script>
	<script src="{{STATIC_URL}}js/encontrado.js" ></script>
	<script src="{{STATIC_URL}}js/adopcion.js" ></script>
	<script src="{{STATIC_URL}}js/usuario.js" ></script>
	<script src="{{STATIC_URL}}js/comentario.js" ></script>
	<script src="{{STATIC_URL}}js/autenticacion.js" ></script>
	<script src="{{STATIC_URL}}js/main.js" ></script>
	</body>
</html>




