<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset='utf-8'>
		<title>PetRescue</title>
		<link rel="stylesheet" href="{{STATIC_URL}}libs/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/estilo.css">
		<link href='http://fonts.googleapis.com/css?family=Cherry+Cream+Soda' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lobster|Open+Sans:400,300' rel='stylesheet' type='text/css'>
		<script src="{{STATIC_URL}}libs/jquery/jquery.min.js" ></script>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	</head>
	<body>

		<section>
			<header class="page-header">
				<div class="container">



					<h1 class="logo">PetRescue</h1>


				<a class="pull-right btn btn-sm btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm" href=""><span class="glyphicon glyphicon-user"></span> Ingresar</a></li>


			</div>
			</header>
			<div class="container">
			<nav  class="navbar navbar-default navbar-static-top" role="navigation">
				<ul  class="nav navbar-nav">


					<!--popover id="myButton" data-toggle="popover" data-trigger="focus"  data-placement="bottom" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?"-->
					<li>

						<a href="/">
							<span class="glyphicon glyphicon-home"></span> Inicio</span>

						</a>
					</li>

					<li >
						<a id="cat_perdidos" href="{% url 'web:perdidos' %}">Mascostas Perdidas</a>
					</li>
					<li>
						<a href="/adopciones/">Mascostas en Adopción</a>
					</li>
					<li>
						<a href="/encontrados/">Mascostas Encontrados</a>
					</li>
				</ul>
			</nav>

			{% block contenido %}
			{% endblock %}

		<!--
			<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
				<div class="container">


				<div class="row">
				 <p>
					Todos los Derechos Reservados | PetRescue | Tulua Valle 2014
				</p>
				</div>
			</div>
			</nav>
		--><div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="myModalLabel">Iniciar Sesion</h4>
					</div>
					<div class="modal-body">
						<div id="login" >
							<div class="form-group">
										<form id='formulario_login' method='post' action=''>
											{% csrf_token %}
											{{loguin_form.as_p}}
											<div id="msg-login-error"></div>
											<input type='submit' name="inicioSesion" class="btn btn-primary" value='Ingresar'/>
										</form>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>

	</div>

	<script src="{{STATIC_URL}}libs/jquery/jquery.cookie.js" ></script>
	<script src="{{STATIC_URL}}libs/bootstrap/bootstrap.min.js" ></script>

	<script src="{{STATIC_URL}}js/perdido.js" ></script>
	<script src="{{STATIC_URL}}js/encontrado.js" ></script>
	<script src="{{STATIC_URL}}js/adopcion.js" ></script>
	<script src="{{STATIC_URL}}js/usuario.js" ></script>
	<script src="{{STATIC_URL}}js/comentario.js" ></script>
	<script src="{{STATIC_URL}}js/autenticacion.js" ></script>
	<script src="{{STATIC_URL}}js/main.js" ></script>
	</body>
</html>
