/*estilos generales */

body{
	/*margin: 0 60px 0 60px;*/
	margin: 0 5% 0 5%;
}

.active {
    border-bottom: 5px solid #AC193D;
}

/* cabecera */
.page-header{
	background-color: #297FE5;
	color:  white;
	margin-top: 0;
	margin-bottom: 0;
}

.navbar{
	/*background-color: #FFFFDA;*/

}

.navbar li a{	
	color: #EDC143;
}

footer{
	background-color: #297FE5;
	color:  white;
}



