/*estilos generales */

body{
	font-family: 'Open Sans', sans-serif;
	/*padding-bottom: 60px;/*salvacion footer*/
}

.active {
    border-bottom: 5px solid #297FE5;
}

/* cabecera */
.page-header{
	height: 110px;
	background-color: #297FE5;
	color:  white;
	margin-top: 0;
	margin-bottom: 0;

}

.breadcrumb
{
	padding: 3px 15px;
}

.navbar li a{
	color: #EDC143;
}

.footer
{
	background-color: #297FE5;
    color:  white;
    margin-top: 50px;
    margin-bottom: 0;
    height: 100px;
}

.col-centered{
  	float: none;
    margin: 0 auto;
}

.elementos-ayuda
{
	margin: 60px 0;
}

.detalleMascota{
	border: 2px solid #e7e7e7;
    border-radius: 0 25px 0 25px; 
    position: fixed;
    padding: 20px;
    margin-left: 50px;
}

.status-box{
    resize:none;
}

.imagenMascota{
	width: 143px;
	height: 143px;
	margin-top: 20px;
    margin-bottom: 20px;
}

.imagenMascotaInicio{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imagenMascotaDetalle{
    width: 450px;
    height: 270px;
}

.mascota{
    margin-bottom: 20px;
    margin-left: 40px;
	border: 2px solid #e7e7e7;
    border-radius: 0 25px 0 25px; 
}

.inicioMascota{
    margin-bottom: 20px;
    margin-left: 20px;
    border: 2px solid #e7e7e7;
    border-radius: 0 25px 0 25px;
    height: 300px;
    padding: 30px;
}

.logo a
{
	font-family: 'Cherry Cream Soda', cursive;
	margin-top: 29px;
    text-decoration: none;
    color:white;
}

.logo a:hover{
    text-decoration: none;
    color: white;
}

.btn-inicia-sesion
{
	margin-top: 29px;
}

#msg-login-error{
	width: 268px;
	margin-left: 16px;
}

.publicacion{
    background-color: #F8F8F8;
    position: fixed;
    z-index: 1030;
    margin-left: 900px;
    border: solid 1px #e7e7e7;
    color: #777;
    border-radius: 0 25px 0 25px; 
}

.publicacion a{
    margin-left: 50px;
}

.imagen-ayuda{
    width: 90px;
    height: 90px;
}

.form-control:focus{
    border-width: 2px; 
    box-shadow: none;
}

#linkRegistro{
    color: #a94442;
}

#linkRegistro:hover{
    color: #a94442;   
}

/*estilos comentarios*/

#comentarios {
    /*height: 300px;
    overflow-y: auto; 
    clear: both;*/
    list-style: none;
    padding-left: 0;
    width: 100%;
}

#comentarios li {
  background-color: #F8F8F8;
  border-bottom: 1px solid #e7e7e7;;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  min-height: 42px;
}

#enlace{
    color: #333;
}

#enlace:hover{
    text-decoration: none;
    color: black;
}

/*errores django */
.errorlist{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	border-radius: 10px 5px 10px 5px;
	list-style: none;
}

/*loading*/
.ball {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 35px #2187e7;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -moz-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
}


@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-moz-keyframes spinoff {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(-360deg);
    };
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinoff {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    };
}


.circle {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-right: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 35px #2187e7;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -moz-animation: spinPulse 1s infinite ease-in-out;
    -webkit-animation: spinPulse 1s infinite linear;
}

.circle1 {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 15px #2187e7;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    top: -50px;
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
}

@-moz-keyframes spinPulse {
    0% {
        -moz-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -moz-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -moz-transform: rotate(-320deg);
        opacity: 0;
    };
}

@-moz-keyframes spinoffPulse {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinPulse {
    0% {
        -webkit-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -webkit-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-320deg);
        opacity: 0;
    };
}

@-webkit-keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}
