/*estilos generales */

body{
	/*margin: 0 60px 0 60px;*/
	/*margin: 0 5% 0 5%;*/
	font-family: 'Open Sans', sans-serif;
}

.active {
    border-bottom: 5px solid #297FE5;
}

/* cabecera */
.page-header{
	height: 110px;
	background-color: #297FE5;
	color:  white;
	margin-top: 0;
	margin-bottom: 0;

}

.navbar li a{
	color: #EDC143;
}

footer{
	background-color: #297FE5;
	color:  white;
}

.mascota{
	background-color: red;
}

.logo
{
	font-family: 'Cherry Cream Soda', cursive;
	margin-top: 29px;
}
